* {
    font-family: $font;
    box-sizing: border-box;
}

:root {
    --form-control-color: rebeccapurple;
    --form-control-disabled: #959495;
}

html,
body {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    background-color: $light;
}

button {
    cursor: pointer;
}

a,
button {
    transition: 200ms ease;
    line-height: 1.2;
}

a {
    text-decoration: none;

    &:hover {
        color: $main;
    }
}

p {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
}

img {
    width: 100%;
    height: auto;
}

input {
    border: 1px solid transparent;

    &:focus {
        outline: none;
        border-color: $black;
    }
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    min-width: 15px;
    min-height: 15px;
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;

    font: inherit;
    color: currentColor;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    /* width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: CanvasText; */
}

input[type="checkbox"]:checked {
    background-color: #fff;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {}

input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);

    color: var(--form-control-disabled);
    cursor: not-allowed;
}

.input {
    width: 100%;
    padding: 8px 15px;
    border-radius: 8px;
    border: 2px solid $main;
    font-weight: 300;
    font-size: 14px;
    position: relative;
    z-index: 2;

    &:focus {
        outline: none;
        border-color: $black;
    }
}

.container {
    width: 100%;
    max-width: 1400px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;

    @include tablet {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.wrapper {
    width: 100%;
    max-width: 1400px;
    background-color: #fff;
    margin: 0 auto;
}

.main-title {
    font-weight: 800;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}