<div class="main-card">
    <div class="main-card__top">
        <div class="main-card__img"><img class="main-card__img_item" src="assets/img/card/1.png" alt=""></div>
        <div class="main-card__img_hit"><img src="assets/img/hit.svg" alt=""></div>
        <button class="main-card__img_like">
            <img class="main-card__img_like_original" src="assets/img/icons/Heart.svg" alt="">
            <img class="main-card__img_like_hover" src="assets/img/icons/Heart-Filled.svg" alt="">
        </button>
    </div>
    <div class="main-card__bottom">
        <h4 class="main-card__title">Декоративный камень на септик ТОПАС 140x130/50</h4>
        <div class="main-card__price">
            <div class="main-card__price_old">20 000 ₽</div>
            <div class="main-card__price_new">18 000 ₽</div>
        </div>
        <div class="main-card__buttons active js-addbtn">
            <button class="main-btn js-addbtnopen">В корзину</button>
            <button class="main-btn main-card__oneclick _bordered-black">Купить в 1 клик</button>
        </div>
        <div class="main-card__add js-addbtnblock">
            <div data-quantity class="quantity third-q">
                <button data-quantity-minus type="button" class="quantity__button quantity__button_minus third-q">-</button>
                <div class="quantity__input third-q">
                    <input data-quantity-value autocomplete="off" type="text" name="form[]" value="1">
                    <span>шт.</span>
                </div>
                <button data-quantity-plus type="button" class="quantity__button quantity__button_plus third-q">+</button>
            </div>
        </div>
    </div>
</div>