<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer__block">
            <div class="footer__top">
                <div class="footer__logo">
                    <img class="footer__logo_item" src="assets/img/logo-footer.svg" alt="">
                </div>
                <a class="footer__iconded" href="tel:+79165431812">
                    <img class="footer__icon" src="assets/img/icons/Iphone.svg" alt="">
                    <span>+7 916 543 18 12</span>
                </a>
                <a class="footer__iconded" href="mailto:sales@test.ru">
                    <img class="footer__icon" src="assets/img/icons/Mail.svg" alt="">
                    <span>sales@test.ru</span>
                </a>
                <div class="footer__social">
                    <button class="main-btn _bordered-white btn-open js-modal-open" data-modal-btn="consult">Оставить заявку</button>
                    <a class="footer__social_item" href="#"><img src="assets/img/icons/vk.svg" alt=""></a>
                    <a class="footer__social_item" href="#"><img src="assets/img/icons/telegram-white.svg" alt=""></a>
                </div>
            </div>
            <div class="footer__center">
                <div class="footer__menu order-1 order-md-1">
                    <div class="footer__menu_title">О нас</div>
                    <div class="footer__menu_list">
                        <a class="footer__menu_item" href="company.html">О компании</a>
                        <a class="footer__menu_item" href="payment.html">Оплата</a>
                        <a class="footer__menu_item" href="delivery.html">Доставка</a>
                        <a class="footer__menu_item" href="guarantees.html">Гарантия</a>
                        <a class="footer__menu_item" href="certificates.html">Сертификаты</a>
                        <a class="footer__menu_item" href="contacts.html">Контакты</a>
                        <a class="footer__menu_item" href="faq.html">Вопрос-Ответ</a>
                        <a class="footer__menu_item" href="vacancy.html">Вакансии</a>
                        <a class="footer__menu_item" href="feedback.html">Отзывы</a>
                    </div>
                </div>
                <div class="footer__menu order-2 order-md-2">
                    <div class="footer__menu_title">Полезные ссылки</div>
                    <div class="footer__menu_list">
                        <a class="footer__menu_item" href="product-card.html">Карточка товара</a>
                        <a class="footer__menu_item" href="partnership.html">Сотрудничество</a>
                        <a class="footer__menu_item" href="wholesalers.html">ОПТОВИКАМ</a>
                        <a class="footer__menu_item" href="blog.html">Блог</a>
                        <a class="footer__menu_item" href="news.html">Новости</a>
                        <a class="footer__menu_item" href="404.html">404</a>
                        <a class="footer__menu_item" href="search.html">Поиск</a>
                        <a class="footer__menu_item" href="sitemap.html">Карта сайта</a>
                        <a class="footer__menu_item" href="vacancy.html">Вакансии</a>
                    </div>
                </div>
                <div class="footer__menu order-3 order-md-3">
                    <div class="footer__menu_title">Каталог</div>
                    <div class="footer__menu_list">
                        <a class="footer__menu_item" href="#">Уличные Горшки</a>
                        <a class="footer__menu_item" href="#">Декор Фильтров</a>
                        <a class="footer__menu_item" href="#">Декор Септиков</a>
                        <a class="footer__menu_item" href="#">Декор Бетонных Колец</a>
                        <a class="footer__menu_item" href="#">Декор Люков</a>
                        <a class="footer__menu_item" href="#">Декор Люков Колодцев</a>
                        <a class="footer__menu_item" href="#">Декор Канализационных Люков</a>
                        <a class="footer__menu_item" href="#">Утепленные Крышки Канализационных Люков</a>
                        <a class="footer__menu_item" href="#">Декоративные Камни</a>
                        <a class="footer__menu_item" href="#">Декоративные Пни</a>
                        <a class="footer__menu_item" href="#">Декор Газгольдеров И Кессонов</a>
                        <a class="footer__menu_item" href="#">Декор Ландшафтных Розеток</a>
                        <a class="footer__menu_item" href="#">Декор Дренажных Колодцев</a>
                    </div>
                </div>
                <div class="footer__menu order-5 order-md-4">
                    <div>
                        <div class="footer__menu_title">Служба поддержки</div>
                        <div class="footer__menu_list">
                            <a class="footer__menu_item" href="#">Связаться с нами</a>
                            <a class="footer__menu_item" href="#">Возврат товара</a>
                        </div>
                    </div>
                    <div>
                        <div class="footer__menu_title mt-0 mt-md-5">Принимаем к оплате</div>
                        <div class="footer__payment">
                            <img class="footer__payment_item" src="assets/img/icons/mastercard.svg" alt="">
                            <img class="footer__payment_item" src="assets/img/icons/visa.svg" alt="">
                            <img class="footer__payment_item" src="assets/img/icons/mir.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="footer__menu order-4 order-md-5">
                    <div class="footer__menu_title">Контакты</div>
                    <div class="footer__menu_subtitle">Телефоны:</div>
                    <a class="footer__menu_text mb-4 d-flex" href="tel:+79165431812">
                        <span>+7 916 543 18 12</span>
                    </a>
                    <div class="footer__menu_subtitle">Время работы:</div>
                    <div class="footer__menu_text">ПН-ПТ: 10:00 - 19:00.</div>
                    <div class="footer__menu_text">Суббота: 10:00 - 18:00.</div>
                    <div class="footer__menu_text mb-4">Воскресенье: выходной.</div>
                    <div class="footer__menu_subtitle">Адрес:</div>
                    <div class="footer__menu_text">143909, г. Балашиха, <br> ул. Пехорская, д. 65</div>
                </div>
            </div>
            <div class="footer__bottom">
                © 2017 - 2022 ДС. Все права защищены <br>
                Копируя материалы, пожалуйста, ставьте активную ссылку на источник.
            </div>
        </div>
    </div>
</footer>




<!-- Кнопки для модалок -->

<!--   <button data-modal-btn="consult" class="btn-open js-modal-open">
    Звонок
  </button>
  <br><br>
  <button data-modal-btn="review" class="btn-open js-modal-open">
    ОТЗЫВ
  </button>
  <br><br>
  <button data-modal-btn="faq" class="btn-open js-modal-open">
    Вопрос
  </button>
  <br><br>
  <button data-modal-btn="job" class="btn-open js-modal-open">
    Вакансия
  </button> -->


<!-- Modals -->
<div data-modal-content="consult" class="js-modal-content wrapper-modal">
    <div class="overlay"></div>
    <div class="modal-window">
        <div class="content">
            <form class="form-card">
                <button class="form-card__close btn-close">
                    <img class="form-card__close-img" src="assets/img/icons/cross.svg" alt="image">
                </button>
                <h2 class="form-card__title">Заказать звонок</h2>
                <div class="form-card__inputs">
                    <input name="name" placeholder="Имя" type="text" class="form-card__input">
                    <input type="tel" class="form-card__input tel" placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _">
                </div>
                <div class="form-card__btns">
                    <button type="submit" class="form-card__btn main-btn _bordered-white">Связаться с нами</button>
                </div>
                <label class="form-card__check">
                    <input type="checkbox" value="checkedTestim" name="acceptedTestim" class="form-card__check_input">
                    <span class="form-card__check_label">Я согласен условиями предоставления услуг и обработкой моих персональных данных при нажатии “Отправить”</span>
                </label>
            </form>
        </div>
    </div>
</div>

<div data-modal-content="review" class="js-modal-content wrapper-modal">
    <div class="overlay"></div>
    <div class="modal-window">
        <div class="content">
            <form class="form-card">
                <button type="button" class="form-card__close btn-close">
                    <img class="form-card__close-img" src="assets/img/icons/cross.svg" alt="image">
                </button>
                <h2 class="form-card__title">ОСТАВИТЬ ОТЗЫВ</h2>
                <div class="form-card__inputs">
                    <textarea name="message" placeholder="Отзыв" class="form-card__textarea"></textarea>
                    <input name="name" placeholder="Имя" type="text" class="form-card__input">
                    <input name="e-mail" placeholder="Email" type="text" class="form-card__input">
                </div>
                <div class="form-card_evaluation">
                    <span class="form-card__eval-text">Ваша оценка</span>
                    <div class="main-card__rating">
                        <i class="star _active"><img src="assets/img/icons/Star.svg" alt=""></i>
                        <i class="star _active"><img src="assets/img/icons/Star.svg" alt=""></i>
                        <i class="star _active"><img src="assets/img/icons/Star.svg" alt=""></i>
                        <i class="star _active"><img src="assets/img/icons/Star.svg" alt=""></i>
                        <i class="star"><img src="assets/img/icons/Star.svg" alt=""></i>
                    </div>
                </div>
                <div class="form-card__att">
                    <div class="form-card__photo">
                        <img class="form-card__img" src="assets/img/card/user-1.png" alt="image">
                    </div>
                    <div class="form-card__choose">
                        <input accept=".jpg, .png, .gif" type="file" name="image" class="form-card__choose_input">
                        <div class="form-card__choose_btn">Ваше фото</div>
                    </div>
                </div>
                <div class="form-card__btns">
                    <button type="submit" class="form-card__btn main-btn _bordered-white">Отправить</button>
                </div>
                <label class="form-card__check">
                    <input type="checkbox" value="checkedTestim" name="acceptedTestim" class="form-card__check_input">
                    <span class="form-card__check_label">Я согласен условиями предоставления услуг и обработкой моих персональных данных при нажатии “Отправить”</span>
                </label>
            </form>
        </div>
    </div>
</div>

<div data-modal-content="faq" class="js-modal-content wrapper-modal">
    <div class="overlay"></div>
    <div class="modal-window">
        <div class="content">
            <form class="form-card _faq-form">
                <button class="form-card__close btn-close">
                    <img class="form-card__close-img" src="assets/img/icons/cross.svg" alt="image">
                </button>
                <h2 class="form-card__title">УВАЖАЕМЫЙ<br> ПОСЕТИТЕЛЬ!</h2>
                <div class="form-card__text">Если у Вас еще остались вопросы, можете задать их через форму обратной связи.<br>Мы ответим на указанный e-mail.</div>
                <div class="form-card__inputs">
                    <input name="name" placeholder="Имя" type="text" class="form-card__input">
                    <input name="e-mail" placeholder="Email" type="text" class="form-card__input">
                    <input type="tel" class="form-card__input tel" placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _">
                    <textarea name="message" placeholder="Ваш вопрос" class="form-card__textarea"></textarea>
                </div>

                <div class="form-card__btns">
                    <button type="submit" class="form-card__btn main-btn _bordered-white">Отправить</button>
                </div>
                <label class="form-card__check">
                    <input type="checkbox" value="checkedTestim" name="acceptedTestim" class="form-card__check_input">
                    <span class="form-card__check_label">Я согласен условиями предоставления услуг и обработкой моих персональных данных при нажатии “Отправить”</span>
                </label>
            </form>
        </div>
    </div>
</div>

<div data-modal-content="job" class="js-modal-content wrapper-modal">
    <div class="overlay"></div>
    <div class="modal-window">
        <div class="content">
            <form class="form-card _faq-form">
                <button class="form-card__close btn-close">
                    <img class="form-card__close-img" src="assets/img/icons/cross.svg" alt="image">
                </button>
                <h2 class="form-card__title">Заявка на вакансию</h2>
                <div class="form-card__inputs">
                    <input name="name" placeholder="Имя" type="text" class="form-card__input">
                    <input name="e-mail" placeholder="Email" type="text" class="form-card__input">
                    <input type="tel" class="form-card__input tel" placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _">
                    <textarea name="message" placeholder="Комментарии" class="form-card__textarea"></textarea>
                    <div class="form-card__choose mb-3">
                        <input accept=".jpg, .png, .pdf .word" type="file" name="image" class="form-card__choose_input">
                        <div class="form-card__choose_btn">Ваше резюме</div>
                    </div>
                </div>

                <div class="form-card__btns">
                    <button type="submit" class="form-card__btn main-btn _bordered-white">Отправить</button>
                </div>
                <label class="form-card__check">
                    <input type="checkbox" value="checkedTestim" name="acceptedTestim" class="form-card__check_input">
                    <span class="form-card__check_label">Я согласен условиями предоставления услуг и обработкой моих персональных данных при нажатии “Отправить”</span>
                </label>
            </form>
        </div>
    </div>
</div>