.main-banner {
    padding-top: 35px;
    padding-bottom: 50px;

    @include netbook {
        padding-top: 10px;
        padding-bottom: 0;
    }

    &__block {
        display: flex;
        column-gap: 45px;

        @include laptop {
            column-gap: 30px;
        }
    }

    &__main {
        width: 70%;

        @include netbook {
            width: 100%;
        }
    }

    &__second {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &_item {
            margin-bottom: 20px;
        }

        @include netbook {
            display: none;
        }
    }
}

.main-category {

    @include tablet {
        margin-top: 40px;
    }

    &__block {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 2%;
        row-gap: 40px;
        margin-bottom: 60px;

        @include netbook {
            column-gap: 5%;
        }
    }

    &__card {
        width: 23%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 300;
        font-size: 14px;
        color: $black;
        text-decoration: none;
        text-align: center;

        @include netbook {
            width: 30%;
        }

        @include tablet {
            font-size: 8px;
            font-weight: 600;

        }

        &_img {
            width: 120px;
            height: 120px;
            object-fit: contain;
            opacity: 0.25;

            @include tablet {
                width: 60px;
                height: 60px;
            }
        }

        &_title {
            margin-top: 20px;


        }

        &:hover {
            font-weight: 400;

            .main-category__card_img {
                opacity: 1;
                filter: invert(60%) sepia(18%) saturate(3058%) hue-rotate(188deg) brightness(101%) contrast(96%);
            }
        }
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 24px;

        &_more {
            font-weight: 500;
            font-size: 14px;
            color: $black;
            padding: 8px 0;
        }

        @include tablet {
            column-gap: 8px;
            row-gap: 8px;
        }
    }

    &__tag {
        font-weight: 300;
    }
}

.main-products {

    &__category {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 40px;

        @include tablet {
            column-gap: 15px;
        }

        @include mobile {
            column-gap: 8px;
        }

        &_item {
            font-weight: 300;
            font-size: 14px;
            color: #858585;
            position: relative;
            padding: 10px 0;
            overflow-x: auto;

            @include tablet {
                font-size: 12px;
            }

            &._active {
                font-weight: 500;
                font-size: 18px;
                color: $black;

                &::after {
                    content: "";
                    width: 85%;
                    height: 2px;
                    background-color: $cyan;
                    border-radius: 2px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }

                @include tablet {
                    font-size: 14px;
                }
            }

            &:last-child {
                @include tablet {
                    display: none;
                }
            }
        }
    }

    &__tags {
        margin-top: 40px;
        margin-bottom: 40px;
        position: relative;

        &_slider {
            margin-left: 50px;
            margin-right: 50px;

            .swiper-slide {
                width: auto;
            }

            @include tablet {
                margin-left: 30px;
                margin-right: 30px;
            }
        }
    }

    &__cards {
        position: relative;


        &>.swiper>.swiper-wrapper {
            &>.swiper-slide {
                @include laptop {
                    width: auto;
                }
            }
        }

        .main-card {
            max-width: 295px;
        }

    }
}

.main-products-slider {
    &__slider {
        position: relative;

        &::before,
        &::after {
            content: "";
            position: absolute;
            z-index: 2;
            top: 0;
            width: 100px;
            height: 100%;
            display: block;
            background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);

            @include tablet {
                display: none;
            }
        }

        &::before {
            left: 0;
            transform: rotateY(180deg);
        }

        &::after {
            right: 0;
            background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        }

        .main-card {
            max-width: 295px;
        }
    }

    .swiper-slide {
        width: auto;
    }
}

.faq {}

.question {
    margin-top: 120px;
    margin-bottom: 120px;

    &__bg {
        position: absolute;
        filter: brightness(0.5);
        height: 100%;
        object-fit: cover;
        border-radius: 32px;

        @include tablet {
            border-radius: 8px;
        }
    }

    &__block {
        position: relative;
    }

    &__wrapper {
        position: relative;
        z-index: 2;
        padding: 32px 48px;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        color: white;

        @include netbook {
            flex-direction: column;
            row-gap: 30px;
            padding: 30px;
        }
    }

    &__info {
        width: 40%;

        @include netbook {
            width: 50%;
        }

        @include tablet {
            width: 100%;
        }
    }

    &__title {
        font-weight: 300;
        font-size: 48px;
        margin-bottom: 22px;

        @include laptop {
            font-size: 30px;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.6;
        max-width: 375px;
        width: 90%;

        @include netbook {
            width: 100%;
        }
    }

    &__form {
        width: 30%;
        max-width: 330px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        @include netbook {
            width: 50%;
        }

        @include tablet {
            width: 100%;
        }

        &_input {
            padding: 12px;
            border-radius: 6px;

            @include laptop {
                padding: 8px;
            }
        }

        ._bordered-white {
            width: 100%;
            border-width: 2px;
            font-weight: bold;
            padding: 12px;

            @include laptop {
                padding: 8px;
            }

            &:hover {
                border-width: 2px;
            }
        }

        &_label {
            display: flex;
            align-items: flex-start;
            column-gap: 10px;
            font-size: 8px;
            cursor: pointer;
        }
    }

    &__img {
        width: 30%;
        position: relative;

        @include netbook {
            position: absolute;
            top: 0;
            right: 0;
            width: 50%;
            height: 100%;
        }

        @include tablet {
            display: none;
        }

        &_item {
            position: absolute;
            top: -80px;
            width: 120%;
            height: 220%;
            object-fit: contain;

            @include netbook {
                width: 100%;
                height: 100%;
                top: 0;
            }
        }
    }
}

.main-reviews {
    &__subtitle {
        font-weight: 300;
        font-size: 14px;
        text-align: center;
    }

    &__slider {
        margin-top: 40px;
        position: relative;

        &_block {
            position: relative;
            display: flex;
            justify-content: center;
            margin-top: 50px;

            .main-btn {
                padding: 12px 50px;
            }
        }
    }

    &__item {
        border: 1px solid #EDEDED;
        border-radius: 16px;
        padding: 24px;

        &_heading {
            display: flex;
            align-items: center;
            column-gap: 24px;

            @include laptop {
                column-gap: 14px;
            }
        }

        &_content {
            font-weight: 300;
            font-size: 14px;
            margin-top: 18px;
            line-height: 1.6;
            height: 180px;
            display: -webkit-box;
            -webkit-line-clamp: 8;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &_img {

            &_item {
                width: 80px;
                height: 80px;
                object-fit: cover;
                border-radius: 50%;

                @include laptop {
                    width: 60px;
                    height: 60px;
                }
            }
        }

        &_name {
            font-weight: 500;
            font-size: 18px;
        }

        &_date {
            font-weight: 300;
            font-size: 14px;
        }

        &_rating {
            display: flex;
            column-gap: 2px;
        }

        &_info {
            display: flex;
            flex-direction: column;
            row-gap: 5px;
        }
    }
}

.partners {
    &__slider {
        margin-top: 60px;
        position: relative;

        &_block {
            margin-left: 40px;
            margin-right: 40px;

            @include tablet {
                margin-left: 25px;
                margin-right: 25px;
            }
        }
    }

    &__item {
        &_img {
            height: 100px;
            object-fit: contain;
            object-position: center;
            margin-bottom: 30px;

            @include laptop {
                height: 80px;
            }

            @include tablet {
                height: 60px;
            }
        }

        &_text {
            font-weight: 500;
            font-size: 14px;
            text-align: center;
            display: block;

            @include tablet {
                font-size: 10px;
            }
        }
    }
}

.news {
    &__block {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        @include netbook {
            grid-template-columns: repeat(2, 1fr);
        }

        @include tablet {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__list {
        width: 100%;
        display: flex;
        flex-direction: column;
        width: 100%;

        &_item {
            margin-bottom: 25px;
        }

        &_date {
            font-weight: 300;
            font-size: 12px;
            margin-bottom: 12px;
        }

        &_title {
            font-weight: 600;
            font-size: 12px;
            color: $black;
            text-decoration: none;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__card {
        width: 100%;
        background: #FAFAFA;
        border-radius: 16px;
        overflow: hidden;

        &_img {
            height: 240px;
            object-fit: cover;

            @include laptop {
                height: 200px;
            }
        }

        &_content {
            padding: 24px;
        }

        &_date {
            font-weight: 300;
            font-size: 12px;
            margin-bottom: 10px;
        }

        &_title {
            font-weight: 500;
            font-size: 14px;
            margin-bottom: 10px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &_text {
            font-weight: 300;
            font-size: 12px;
            margin-bottom: 10px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &_button {
            font-weight: 600;
            font-size: 12px;
            text-decoration: none;
            color: $black;
        }
    }
}

.universal {

    &-logo {
        width: 50%;
        min-width: 261px;
    }
}