.main-banner {
    margin-top: 35px;
    margin-bottom: 50px;

    &__block {
        display: flex;
        column-gap: 45px;
    }

    &__main {
        width: 70%;
    }

    &__second {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.main-category {
    margin-top: 50px;
    margin-bottom: 50px;

    &__block {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 2%;
        row-gap: 40px;
    }

    &__card {
        width: 23%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 300;
        font-size: 14px;
        color: $black;
        text-decoration: none;

        &_img {
            width: 120px;
            height: 120px;
            object-fit: contain;
            opacity: 0.25;
        }

        &_title {
            margin-top: 20px;
        }

        &:hover {
            font-weight: 400;

            .main-category__card_img {
                opacity: 1;
                filter: invert(60%) sepia(18%) saturate(3058%) hue-rotate(188deg) brightness(101%) contrast(96%);
            }
        }
    }

    &__tags {
        margin-top: 60px;
        margin-bottom: 60px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 24px;

        &_more {
            font-weight: 500;
            font-size: 14px;
            color: $black;
        }
    }

    &__tag {
        font-weight: 300;
    }
}

.main-products {
    margin-top: 50px;
    margin-bottom: 50px;

    &__category {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 40px;

        &_item {
            font-weight: 300;
            font-size: 14px;
            color: #858585;
            position: relative;
            padding: 10px 0;

            &._active {
                font-weight: 500;
                font-size: 18px;
                color: $black;

                &::after {
                    content: "";
                    width: 85%;
                    height: 2px;
                    background-color: $cyan;
                    border-radius: 2px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }

            }
        }
    }

    &__tags {
        margin-top: 40px;
        margin-bottom: 40px;
        position: relative;

        &_slider {
            margin-left: 50px;
            margin-right: 50px;

            .swiper-slide {
                width: auto;
            }
        }
    }
}